<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.nayeogi.story.model.dao.StoryDao">

	<insert id="insertStorybook" parameterType="StorySaveRequest"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO storybooks (
			plan_id, 
			member_id, 
			title, 
			thumbnail_path, 
			is_public
		) VALUES (
			#{planId}, 
			#{memberId}, 
			#{title}, 
			#{thumbnailPath}, 
			CASE WHEN #{isPublic} = true THEN 'Y' ELSE 'N' END
		)
	</insert>
	
	<insert id="insertStoryPages">
		INSERT INTO story_pages (
			story_id, 
			attraction_id, 
			image_path, 
			content,
			page_order
		) VALUES
		<foreach collection="pages" item="page" separator="," index="idx">
			(
				#{storyId},
				(SELECT id FROM attractions WHERE content_id = #{page.contentId}),
				#{page.imagePath},
				#{page.content},
				#{idx} + 1
			)
		</foreach>
	</insert>
	
	<update id="updateStorybook">
		UPDATE storybooks
		SET 
			plan_id = #{request.planId},
			title = #{request.title},
			thumbnail_path = #{request.thumbnailPath},
			is_public = CASE WHEN #{request.isPublic} = true THEN 'Y' ELSE 'N' END
		WHERE id = #{storyId}
	</update>
	
	<update id="updateStoryVisibility">
		UPDATE storybooks
		SET is_public = CASE WHEN #{isPublic} = true THEN 'Y' ELSE 'N' END
		WHERE id = #{storyId}
	</update>

	<delete id="deleteStoryPages">
		DELETE FROM story_pages WHERE story_id = #{storyId}
	</delete>

	<delete id="deleteStorybook">
		DELETE FROM storybooks WHERE id = #{storyId}
	</delete>

	<select id="selectMemberIdByStoryId" resultType="string">
		SELECT member_id FROM storybooks WHERE id = #{storyId}
	</select>
	
	<select id="selectStoryList" resultType="StoryListResponse">
		SELECT 
			id AS storyId,
			plan_id AS planId,
			title,
			DATE_FORMAT(created_at, '%Y-%m-%d') AS createdDate,
			thumbnail_path AS thumbnailPath,
			CASE WHEN is_public = 'Y' THEN true ELSE false END AS isPublic
		FROM storybooks
		WHERE member_id = #{memberId}
		
		<if test="planId != null and planId != 0">
			AND plan_id = #{planId}
		</if>
		
		ORDER BY created_at DESC
	</select>
	
	<resultMap id="StoryDetailMap" type="StoryDetailResponse" >
		<id column="story_id" property="storyId"/>
		<result column="plan_id" property="planId"/>
		<result column="title" property="title"/>
		<result column="member_id" property="memberId"/>
		<result column="created_date" property="createdDate"/>
		<result column="is_public" property="isPublic"/>
		
		<collection property="pages" ofType="StoryDetailResponse$StoryPageDetail">
			<id column="page_id" property="pageId"/>
			<result column="page_order" property="pageOrder"/>
			<result column="image_path" property="imagePath"/>
			<result column="content" property="content"/>
			<result column="attraction_title" property="attractionTitle"/>
			<result column="content_id" property="contentId"/>
		</collection>
	</resultMap>

	<select id="selectStoryDetail" resultMap="StoryDetailMap">
		SELECT 
			s.id AS story_id,
			s.plan_id,
			s.title,
			s.member_id,
			DATE_FORMAT(s.created_at, '%Y-%m-%d') AS created_date,
			CASE WHEN s.is_public = 'Y' THEN true ELSE false END AS is_public,
			
			sp.id AS page_id,
			sp.page_order,
			sp.image_path,
			sp.content,
			
			a.title AS attraction_title,
			a.content_id
		FROM storybooks s
		LEFT JOIN story_pages sp ON s.id = sp.story_id
		LEFT JOIN attractions a ON sp.attraction_id = a.id
		WHERE s.id = #{storyId}
		ORDER BY sp.page_order ASC
	</select>
	
	

</mapper>