<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.nayeogi.attraction.model.dao.AttractionDao">

	<select id="searchAttractions"
		parameterType="map"
		resultType="AttractionResponse">
		SELECT
			id,
			content_id,
			title,
			content_type_id,
			area_code,
			si_gun_gu_code,
			first_image1,
			first_image2,
			map_level,
			latitude,
			longitude,
			tel,
			addr1,
			addr2,
			homepage,
			overview
		FROM attractions
		<where>
			<if test="title != null and title != ''">
				AND title LIKE CONCAT('%', #{title}, '%')
			</if>
			<if test="contentTypeIds != null and contentTypeIds.size() > 0">
				AND content_type_id IN
				<foreach collection="contentTypeIds" item="contentTypeId" open="(" separator="," close=")">
					#{contentTypeId}
				</foreach>
			</if>
		</where>
		ORDER BY title ASC, id ASC
	</select>

	<select id="recommendAttractions"
		parameterType="map"
		resultType="AttractionRecommendationResponse">
		SELECT /*+ NO_MERGE(b) JOIN_ORDER(b, a2) */
			a2.id,
			a2.content_id,
			a2.title,
			a2.content_type_id,
			a2.area_code,
			a2.si_gun_gu_code,
			a2.first_image1,
			a2.first_image2,
			a2.map_level,
			a2.latitude,
			a2.longitude,
			a2.tel,
			a2.addr1,
			a2.addr2,
			a2.homepage,
			a2.overview,
			b.cal_score
		FROM (
			SELECT
				a.id,
				COALESCE(SUM(af.score * sfw.weight), 0) AS cal_score
			FROM attractions a FORCE INDEX (attractions_content_type_id_area_code)
			LEFT JOIN attraction_features af
			  ON af.attraction_id = a.id
			LEFT JOIN survey_feature_weight sfw
			  ON sfw.attraction_features_id = af.feature_id
			<choose>
				<when test="surveyIds != null and surveyIds.size() > 0">
					AND sfw.survey_id IN
					<foreach collection="surveyIds" item="surveyId" open="(" separator="," close=")">
						#{surveyId}
					</foreach>
				</when>
				<otherwise>
					AND 1 = 0
				</otherwise>
			</choose>
			<where>
				<if test="contentTypeId != null">
					a.content_type_id = #{contentTypeId}
				</if>
				<if test="area != null and area != ''">
					AND a.area_code = (
						SELECT s.sido_code
						FROM sidos s
						WHERE s.sido_name = #{area}
						LIMIT 1
					)
				</if>
			</where>
			GROUP BY a.id
		) b
		JOIN attractions a2 FORCE INDEX (PRIMARY)
		  ON a2.id = b.id
		ORDER BY b.cal_score DESC
	</select>

	<insert id="insertPlan" parameterType="PlanCreateRequest" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO plans (member_id, title, start_date, end_date, description)
		VALUES (#{memberId}, #{title}, #{startDate}, #{endDate}, #{description})
	</insert>

	<insert id="insertPlanDetails" parameterType="map">
		INSERT INTO plan_details (plan_id, attraction_id, plan_date, sequence)
		VALUES
		<foreach collection="details" item="detail" separator=",">
			(#{planId}, #{detail.attractionId}, #{detail.planDate}, #{detail.sequence})
		</foreach>
	</insert>

	<update id="updatePlan" parameterType="map">
		UPDATE plans
		<trim prefix="SET" suffixOverrides=",">
			<if test="request.title != null">
				title = #{request.title},
			</if>
			<if test="request.startDate != null">
				start_date = #{request.startDate},
			</if>
			<if test="request.endDate != null">
				end_date = #{request.endDate},
			</if>
			<if test="request.description != null">
				description = #{request.description},
			</if>
		</trim>
		WHERE id = #{planId}
	</update>

	<delete id="deletePlanDetails" parameterType="int">
		DELETE FROM plan_details
		WHERE plan_id = #{planId}
	</delete>
	
	<delete id="deletePlan" parameterType="int">
		DELETE FROM plans
		WHERE id = #{planId}
	</delete>

	<select id="findPlansByMember" parameterType="string" resultType="PlanSearchResponse">
		SELECT
			id,
			member_id,
			title,
			start_date,
			end_date,
			description,
			created_at
		FROM plans
		WHERE member_id = #{memberId}
		ORDER BY created_at DESC, id DESC
	</select>

	<select id="findPlanDetailsByPlanId" parameterType="int" resultType="PlanDetailResponse">
		SELECT
			plan_id,
			attraction_id,
			plan_date,
			sequence,
			(select title from attractions a where p.attraction_id = a.id) attraction_title
		FROM plan_details p
		WHERE plan_id = #{planId}
		ORDER BY sequence ASC
	</select>

	<select id="findAllSurveys" resultType="SurveyResponse">
		SELECT
			id,
			question,
			type
		FROM survey
		ORDER BY id ASC
	</select>

</mapper>
